<h1>Stupid coaching</h1>
<div class="card">
  <div class="content">
    <h2><%= @question %></h2>
    <p>-You</p>
  </div>
</div>
<div class="card answer">
  <div class="content">
    <h2><%= @answer %></h2>
    <p>-Your coach</p>
  </div>
</div>
<%= link_to 'Ask a new question', '/ask' %>
